[Unit]
Description=Copy Gitea backup to local backup directory.
After=network.target

[Service]
Type=oneshot
Environment="BACKUP_HOST={{ .systemdSvcBackupUser }}@{{ .systemdSvcBackupHost }}"
Environment="SRC_BACKUP_DIR=/var/local/gitea/backups"
Environment="BACKUP_FILE=backup-gitea.latest.tar.gz"
Environment="TARGET_BACKUP_DIR={{ env "HOME" }}/backups/Gitea"
ExecStart=/bin/sh -c "scp ${BACKUP_HOST}:${SRC_BACKUP_DIR}/${BACKUP_FILE} ${TARGET_BACKUP_DIR}"

[Install]
WantedBy=default.target
