pager = "$PAGER -R"

[merge]
command = "meld"
args = ["{{ `{{ .Destination }}` }}", "{{ `{{ .Source }}` }}", "{{ `{{ .Target }}` }}"]
[data]
username = "{{ promptStringOnce . "username" "What is your desktop username" }}"
fullname = "{{ onepasswordRead "op://Personal/Eu/Identification/full name" }}"
email = "{{ onepasswordRead "op://Personal/Eu/Internet Details/email" }}"
desktopHostname = "{{ onepasswordRead "op://Personal/Desktop/hostname" }}"
workComputer = false
emacsPath = "/usr/local/bin/emacs"
emacsClientPath = "/usr/local/bin/emacsclient"
systemdSvcBackupUser = "{{ promptStringOnce . "systemdSvcBackupUser" "What is the service backup user" }}"
systemdSvcBackupHost = "chaves"
giteaHostname = "chaves"
